# Lists

In [1]:
# Lists is a function which creates a collection of items inside the square braces.

In [2]:
# for ex:

In [3]:
num = [1,2,3,4,5]

In [4]:
num

[1, 2, 3, 4, 5]

In [5]:
# the default list functions are

In [6]:
# append()
# which adds a element in the collection

In [7]:
# ex:

In [15]:
months = ["Jan","Feb","Mar"]
months.append("Apr")
print(months)

['Jan', 'Feb', 'Mar', 'Apr']

In [16]:
#sort()
# is used to sort the list in ascending order

In [17]:
num = [20,30,40,10]
num.sort()
print(num)

[10, 20, 30, 40]

In [18]:
#len()
# gives the length of list

In [20]:
names = ["Raj","Ramesh","Ganesh"]
print("length of the names-",len(names))

length of the names- 3

In [21]:
#index()
#gives the place of the element

In [23]:
price =[128.11,125,143.76]
price.index(143.76)

2

In [ ]:
#extend()
#adds multiple elements in the list

In [28]:
rate=[10,20]
rate.extend([30,40,50])
print(rate)

[10, 20, 30, 40, 50]

# Dictionary

In [29]:
#keys()

In [30]:
dict ={"Name":"Raj","Rollno":123}
print(dict.keys())

dict_keys(['Name', 'Rollno'])

In [31]:
#items()

In [32]:
dict ={"Name":"Raj","Rollno":123,"Mark":30}
print(dict.items())

dict_items([('Name', 'Raj'), ('Rollno', 123), ('Mark', 30)])

In [33]:
#values

In [34]:
dict ={"Name":"Raj","Rollno":123,"Mark":30}
print(dict.values())

dict_values(['Raj', 123, 30])

In [35]:
#pop()

In [36]:
dict ={"Name":"Raj","Rollno":123,"Mark":30}
dict.pop("Name")
print(dict)

{'Rollno': 123, 'Mark': 30}

# copy()

In [38]:
dict ={"Name":"Raj","Rollno":123,"Mark":30}
dict_new=dict.copy()
print(dict_new)

{'Name': 'Raj', 'Rollno': 123, 'Mark': 30}

# Sets

In [40]:
basket = {"apple","mango","banana"}
print(basket)

{'banana', 'mango', 'apple'}

In [41]:
#add()

In [42]:
basket = {"apple","mango","banana"}
basket.add("grapes")
print(basket)

{'banana', 'mango', 'grapes', 'apple'}

In [43]:
#remove()

In [44]:
basket = {"apple","mango","banana"}
basket.remove("mango")
print(basket)

{'banana', 'apple'}

In [45]:
#clear()

In [46]:
basket = {"apple","mango","banana"}
basket.clear()
print(basket)

set()

In [47]:
#union()

In [48]:
set1 = {"apple","mango","banana"}
set2 = {1,2,3}
set3=set1.union(set2)
print(set3)

{'banana', 1, 2, 3, 'apple', 'mango'}

In [49]:
#update()

In [50]:
set1 = {"apple","mango","banana"}
set2 = {1,2,3}
set1.update(set2)
print(set1)

{'banana', 1, 2, 3, 'apple', 'mango'}

# Tuple

In [51]:
tup =("raj","gunda","manju")
print(tup)

('raj', 'gunda', 'manju')

In [53]:
tup =("raj","gunda","manju")
print("length of this tupleis-",len(tup))

length of this tupleis- 3

In [54]:
tup=(1,2,4,56,75)
print("maximum value of this tuple is-",max(tup))

maximum value of this tuple is- 75

In [55]:
tup=(1,2,4,56,75)
print("the sum of the tuples value is-",sum(tup))

the sum of the tuples value is- 138

In [56]:
tup=(10,2,4,56,75)
print("the sorted tuple is-",sorted(tup))

the sorted tuple is- [2, 4, 10, 56, 75]

In [57]:
tup1=("a","b","c")
tup2=(1,2,3)
tup3=tup1+tup2
print(tup3)

('a', 'b', 'c', 1, 2, 3)

# Strings

In [58]:
print("Hello Guys")

Hello Guys

In [59]:
#concatenation

In [60]:
str1="hi"
str2="guys"
print("str1+str2=",str1+str2)

str1+str2= higuys

In [61]:
#length
str ="Hello guys"
print("len(str)=",len(str))

len(str)= 10

In [63]:
#upper()
str ="ramesh"
print(str.upper())

RAMESH

In [66]:
#join()
balloon ="Sammy has a balloon."
print(" ".join(balloon))

S a m m y   h a s   a   b a l l o o n .

In [67]:
#split()
balloon ="Sammy has a balloon."
print(balloon.split())

['Sammy', 'has', 'a', 'balloon.']